<h2> city List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Name </th>
            <th> ID </th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor = "let citylist of citylists" >
            <td> {{ citylist.name}} </td>
            <td> {{ citylist.id }} </td>
         <td>
                <button class = "btn btn-info"> Update </button>
                <button class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>   
        </tr>
    </tbody>
</table>
