<h2> booking List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Hotel Id</th>
            <th> Start Date </th>
            <th> End Date</th>
            <th> Customer Id </th>
            <th> Room No.</th>
            <th> Update </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let booking of bookings" >
            <td> {{ booking.hotel_id }} </td>
            <td> {{ booking.start_date }} </td>
            <td> {{ booking.end_date }} </td>
            <td> {{ booking.customer_id }} </td>
            <td> {{ booking.Room_no }} </td>
            <td>
                <button (click)="updateBooking(1)" class = "btn btn-info"> Update </button>
                <button (click)="deleteBooking(1)" style="margin-left: 10px"> Delete</button>
            </td>   

        </tr>
    </tbody>
</table>
